@charset "UTF-8";
/* line 45, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/base/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/base/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/base/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/base/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/base/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/base/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/base/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/base/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/base/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/base/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/base/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/base/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/base/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/base/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/base/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/base/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/base/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/base/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/base/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 435, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/base/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/base/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/base/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "OpenSansCond";
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLight.eot");
  src: local("тШ║"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.eot?") format("embedded-opentype"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.woff") format("woff"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.woff2") format("woff2"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.ttf") format("truetype"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansCond";
  src: url("../fonts/OpenSansCondensed/OpenSans-CondBold.eot");
  src: local("тШ║"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.eot?") format("embedded-opentype"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.woff") format("woff"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.woff2") format("woff2"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.ttf") format("truetype"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans/ptsans.eot");
  src: local("тШ║"), url("../fonts/ptsans/ptsans.eot?") format("embedded-opentype"), url("../fonts/ptsans/ptsans.woff") format("woff"), url("../fonts/ptsans/ptsans.woff2") format("woff2"), url("../fonts/ptsans/ptsans.ttf") format("truetype"), url("../fonts/ptsans/ptsans.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Patience";
  src: url("../fonts/Patience/Patience.eot");
  src: local("тШ║"), url("../fonts/Patience/Patience.eot?") format("embedded-opentype"), url("../fonts/Patience/Patience.woff") format("woff"), url("../fonts/Patience/Patience.woff2") format("woff2"), url("../fonts/Patience/Patiencev.ttf") format("truetype"), url("../fonts/Patience/Patience.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../bootstrap/fonts/fontawesome-webfont.eot");
  src: url("../bootstrap/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../bootstrap/fonts/fontawesome-webfont.woff2") format("woff2"), url("../bootstrap/fonts/fontawesome-webfont.woff") format("woff"), url("../bootstrap/fonts/fontawesome-webfont.ttf") format("truetype"), url("../bootstrap/fonts/fontawesome-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("../bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../bootstrap/fonts/glyphicons-halflings-regular.svg") format("svg");
}
/* line 75, ../sass/base/_typography.scss */
h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 60px auto 50px;
  text-align: center;
}

/* line 82, ../sass/base/_typography.scss */
h3 {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1025px) {
  /* line 88, ../sass/base/_typography.scss */
  h2 {
    font-size: 30px;
    margin: 50px auto 40px;
  }
}
@media (max-width: 750px) {
  /* line 95, ../sass/base/_typography.scss */
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 530px) {
  /* line 101, ../sass/base/_typography.scss */
  h2 {
    font-size: 26px;
  }

  /* line 104, ../sass/base/_typography.scss */
  h3 {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  /* line 110, ../sass/base/_typography.scss */
  h2 {
    font-size: 24px;
    margin: 40px auto 30px;
  }
}
/* line 1, ../sass/components/_form.scss */
.fillWindow {
  position: fixed;
  z-index: 990;
  background: rgba(115, 115, 115, 0.51);
  width: 100%;
  height: 100%;
  display: none;
}

/* line 10, ../sass/components/_form.scss */
.wrapperForm {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  background: #edfffa;
  padding: 5px 20px 80px;
  border: 1px solid #a2a2a2;
  font-size: 17px;
  max-width: 450px;
  width: 96%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 23, ../sass/components/_form.scss */
.wrapperForm input[type="text"] {
  display: block;
  width: 100%;
  height: 28px;
  color: black;
  border: 1px solid #d2d2d2;
  line-height: inherit;
  outline: none;
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-radius: 0px !important;
  /* Firefox 19+ */
  /* Firefox 18- */
}
/* line 34, ../sass/components/_form.scss */
.wrapperForm input[type="text"]::-webkit-input-placeholder {
  color: #393939;
}
/* line 35, ../sass/components/_form.scss */
.wrapperForm input[type="text"]::-moz-placeholder {
  color: #393939;
}
/* line 36, ../sass/components/_form.scss */
.wrapperForm input[type="text"]:-moz-placeholder {
  color: #393939;
}
/* line 37, ../sass/components/_form.scss */
.wrapperForm input[type="text"]:-ms-input-placeholder {
  color: #393939;
}
/* line 39, ../sass/components/_form.scss */
.wrapperForm p {
  font-weight: bold;
  text-align: center;
  margin: 25px 0 10px;
  color: black;
}
/* line 45, ../sass/components/_form.scss */
.wrapperForm .labelItem {
  margin-top: 10px;
  display: block;
  color: black;
}
/* line 50, ../sass/components/_form.scss */
.wrapperForm .formEnroll {
  width: 100%;
}
/* line 53, ../sass/components/_form.scss */
.wrapperForm label.error {
  font-size: 12px;
  color: red;
  margin-bottom: -15px;
}
/* line 58, ../sass/components/_form.scss */
.wrapperForm input.error {
  border: 1px dotted #000000;
}

/* line 64, ../sass/components/_form.scss */
.buttonSend {
  top: auto;
  left: 0;
  bottom: 20px;
  right: 0;
  position: absolute;
  background: #55a0e6;
  background: -webkit-linear-gradient(top, #4398d1, #305e7d);
  background: -moz-linear-gradient(top, #4398d1, #305e7d);
  background: -ms-linear-gradient(top, #4398d1, #305e7d);
  background: -o-linear-gradient(top, #4398d1, #305e7d);
  background-image: -ms-linear-gradient(top, #4398d1 0%, #305e7d 100%);
  cursor: pointer;
  border: none;
  width: 150px;
  height: 38px;
  margin: auto;
  text-align: center;
  color: white;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 85, ../sass/components/_form.scss */
.buttonSend:hover {
  background: #45ade8;
  background: -webkit-linear-gradient(top, #44b0ea, #326483);
  background: -moz-linear-gradient(top, #44b0ea, #326483);
  background: -ms-linear-gradient(top, #44b0ea, #326483);
  background: -o-linear-gradient(top, #44b0ea, #326483);
  background-image: -ms-linear-gradient(top, #44b0ea 0%, #326483 100%);
}

/* line 96, ../sass/components/_form.scss */
.closeForm {
  float: right;
  cursor: pointer;
  margin-right: -10px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
}
/* line 103, ../sass/components/_form.scss */
.closeForm .glyphicon-remove {
  color: #626262;
}
/* line 106, ../sass/components/_form.scss */
.closeForm .glyphicon-remove:hover {
  color: #000000;
}

/* line 112, ../sass/components/_form.scss */
.hasPlaceholder {
  color: #000000;
}

@media (max-width: 430px) {
  /* line 118, ../sass/components/_form.scss */
  .wrapperForm {
    font-size: 14px;
  }
}
/* line 17, ../sass/_main.scss */
.imageHover {
  position: absolute;
}

/* line 21, ../sass/_main.scss */
.imageUpper {
  position: relative;
}

/* line 25, ../sass/_main.scss */
a {
  outline: none !important;
}

/* line 29, ../sass/_main.scss */
.imageUpper:hover {
  opacity: 0;
}

/* line 33, ../sass/_main.scss */
.zIndex {
  z-index: 999 !important;
}

/* line 37, ../sass/_main.scss */
.wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  position: relative;
  font-family: OpenSansCond;
  color: black;
}
/* line 12, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 45, ../sass/_main.scss */
.trigger {
  position: relative;
  background: white;
}
/* line 48, ../sass/_main.scss */
.trigger:after, .trigger:before {
  clear: both;
  content: " ";
  display: table;
}

/* line 55, ../sass/_main.scss */
.menu {
  float: right;
  width: 230px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}
@media (max-width: 420px) {
  /* line 64, ../sass/_main.scss */
  .menu {
    width: 220px;
  }
}

@media screen and (min-width: 1371px) {
  /* line 71, ../sass/_main.scss */
  .menuToggle {
    position: absolute !important;
  }

  /* line 74, ../sass/_main.scss */
  .menu {
    position: absolute !important;
  }
}
/* line 80, ../sass/_main.scss */
.menuToggle {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.25) url("../image/three.png") no-repeat 50% 50%;
  background-size: 25px;
  cursor: pointer;
  z-index: 999;
}
/* line 90, ../sass/_main.scss */
.menuToggle:hover {
  background: rgba(0, 0, 0, 0.15) url("../image/three.png") no-repeat 50% 50%;
  background-size: 25px;
}
@media (max-width: 1370px) {
  /* line 95, ../sass/_main.scss */
  .menuToggle {
    width: 40px;
    height: 40px;
    background-size: 20px;
  }
  /* line 100, ../sass/_main.scss */
  .menuToggle:hover {
    background-size: 20px;
  }
}
@media (max-width: 900px) {
  /* line 106, ../sass/_main.scss */
  .menuToggle {
    top: 10px;
    right: 10px;
  }
}

/* line 114, ../sass/_main.scss */
.menuClose {
  display: none;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.25) url("../image/delete.png") no-repeat 50% 50%;
  background-size: 20px;
  cursor: pointer;
}
/* line 124, ../sass/_main.scss */
.menuClose:hover {
  background: rgba(0, 0, 0, 0.15) url("../image/delete.png") no-repeat 50% 50%;
  background-size: 20px;
}
@media (max-width: 1370px) {
  /* line 129, ../sass/_main.scss */
  .menuClose {
    width: 40px;
    height: 40px;
    background-size: 17px;
  }
  /* line 134, ../sass/_main.scss */
  .menuClose:hover {
    background-size: 17px;
  }
}

/* line 141, ../sass/_main.scss */
.menuOpen {
  display: none;
  position: absolute;
  background: #1a1a1a;
  height: 100%;
  width: 180px;
  top: 0;
  left: 60px;
}
/* line 149, ../sass/_main.scss */
.menuOpen ul {
  padding-top: 10px;
  padding-left: 25px;
  text-align: left;
}
/* line 154, ../sass/_main.scss */
.menuOpen li {
  list-style: none;
  font-family: OpenSansCond;
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
}
/* line 160, ../sass/_main.scss */
.menuOpen li a {
  text-decoration: none;
  color: #b1b1b1;
  cursor: pointer;
}
/* line 164, ../sass/_main.scss */
.menuOpen li a:hover {
  color: #ffffff;
}
/* line 168, ../sass/_main.scss */
.menuOpen li .iconSocialNetwork {
  padding-right: 8px;
}
/* line 171, ../sass/_main.scss */
.menuOpen li .iconSocialNetwork.fa {
  font-size: 18px;
}
/* line 175, ../sass/_main.scss */
.menuOpen li:last-child {
  padding-top: 20px;
}
@media (max-width: 1370px) {
  /* line 179, ../sass/_main.scss */
  .menuOpen li {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  /* line 184, ../sass/_main.scss */
  .menuOpen {
    width: 170px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 191, ../sass/_main.scss */
  .menu {
    right: 10px;
  }
}
/* line 196, ../sass/_main.scss */
.main_block {
  position: relative;
  background: #000000;
}
/* line 200, ../sass/_main.scss */
.main_block h1 {
  color: white;
  text-align: center;
  font-family: Patience;
  font-size: 150px;
  line-height: 1.0;
  margin: 0;
}
/* line 209, ../sass/_main.scss */
.main_block .bg_main_block {
  position: relative;
  background: url("../image/man-person.png") no-repeat center center;
  opacity: 0.5;
  width: 100%;
  height: 1100px;
}
/* line 217, ../sass/_main.scss */
.main_block .wrapper_text_button {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  -moz-transform: translate(-40%, -40%);
  -webkit-transform: translate(-40%, -40%);
  -o-transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
}
@media (max-width: 1640px) {
  /* line 230, ../sass/_main.scss */
  .main_block .bg_main_block {
    height: 900px;
  }
  /* line 233, ../sass/_main.scss */
  .main_block .wrapper_text_button {
    -moz-transform: translate(-30%, -40%);
    -webkit-transform: translate(-30%, -40%);
    -o-transform: translate(-30%, -40%);
    -ms-transform: translate(-30%, -40%);
    transform: translate(-30%, -40%);
  }
}
@media (max-width: 1370px) {
  /* line 243, ../sass/_main.scss */
  .main_block .bg_main_block {
    height: 680px;
    background: url("../image/man-person-laptop.png") no-repeat center center;
  }
  /* line 247, ../sass/_main.scss */
  .main_block h1 {
    font-size: 130px;
  }
}
@media (max-width: 1270px) {
  /* line 253, ../sass/_main.scss */
  .main_block .wrapper_text_button {
    -moz-transform: translate(-20%, -40%);
    -webkit-transform: translate(-20%, -40%);
    -o-transform: translate(-20%, -40%);
    -ms-transform: translate(-20%, -40%);
    transform: translate(-20%, -40%);
  }
}
@media (max-width: 1040px) {
  /* line 263, ../sass/_main.scss */
  .main_block .bg_main_block {
    height: 600px;
    background: url("../image/man-person-laptop.png") no-repeat left center;
  }
  /* line 267, ../sass/_main.scss */
  .main_block .wrapper_text_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -moz-transform: translate(-50%, -47%);
    -webkit-transform: translate(-50%, -47%);
    -o-transform: translate(-50%, -47%);
    -ms-transform: translate(-50%, -47%);
    transform: translate(-50%, -47%);
  }
  /* line 278, ../sass/_main.scss */
  .main_block h1 {
    line-height: 0.9;
  }
}
@media (max-width: 620px) {
  /* line 284, ../sass/_main.scss */
  .main_block h1 {
    font-size: 100px;
  }
  /* line 287, ../sass/_main.scss */
  .main_block .bg_main_block {
    background: url(../image/man-person-laptop.png) no-repeat 15% center;
  }
}
@media (max-width: 570px) {
  /* line 293, ../sass/_main.scss */
  .main_block .bg_main_block {
    background: url(../image/man-person-3.png) no-repeat center center;
  }
}
@media (max-width: 420px) {
  /* line 299, ../sass/_main.scss */
  .main_block .bg_main_block {
    height: 480px;
    background: url(../image/man-person-wall-mobile.png) no-repeat center center;
  }
  /* line 303, ../sass/_main.scss */
  .main_block h1 {
    font-size: 80px;
  }
}
@media (max-width: 340px) {
  /* line 309, ../sass/_main.scss */
  .main_block h1 {
    font-size: 60px;
  }
}
@media (max-width: 250px) {
  /* line 314, ../sass/_main.scss */
  .main_block h1 {
    font-size: 55px;
  }
}

/* line 320, ../sass/_main.scss */
.buttonEnroll {
  height: 63px;
  width: 100%;
  max-width: 300px;
  margin: 150px auto 0;
  z-index: 11;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 6px 8px 15px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 6px 8px 15px 6px;
  box-shadow: rgba(0, 0, 0, 0.6) 6px 8px 15px 6px;
  border: 1px solid #616264;
  background: #55a0e6;
  background: -webkit-linear-gradient(top, #4398d1, #305e7d);
  background: -moz-linear-gradient(top, #4398d1, #305e7d);
  background: -ms-linear-gradient(top, #4398d1, #305e7d);
  background: -o-linear-gradient(top, #4398d1, #305e7d);
  background-image: -ms-linear-gradient(top, #4398d1 0%, #305e7d 100%);
  cursor: pointer;
}
/* line 322, ../sass/_main.scss */
.buttonEnroll .textButtonEnroll {
  margin-right: -5%;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
/* line 330, ../sass/_main.scss */
.buttonEnroll .helper {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
  zoom: 1;
}
/* line 358, ../sass/_main.scss */
.buttonEnroll:hover {
  background: #45ade8;
  background: -webkit-linear-gradient(top, #44b0ea, #326483);
  background: -moz-linear-gradient(top, #44b0ea, #326483);
  background: -ms-linear-gradient(top, #44b0ea, #326483);
  background: -o-linear-gradient(top, #44b0ea, #326483);
  background-image: -ms-linear-gradient(top, #44b0ea 0%, #326483 100%);
}
@media (max-width: 1370px) {
  /* line 368, ../sass/_main.scss */
  .buttonEnroll {
    height: 54px;
    max-width: 250px;
    font-size: 22px;
    margin: 110px auto 0;
  }
}
@media (max-width: 1040px) {
  /* line 320, ../sass/_main.scss */
  .buttonEnroll {
    margin: 90px auto 0;
  }
}
@media (max-width: 620px) {
  /* line 381, ../sass/_main.scss */
  .buttonEnroll {
    height: 50px;
    max-width: 230px;
    font-size: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
@media (max-width: 620px) and (max-width: 420px) {
  /* line 389, ../sass/_main.scss */
  .buttonEnroll {
    height: 45px;
    max-width: 210px;
    font-size: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}

/* line 1, ../sass/page/_directions.scss */
.ourDirections {
  padding: 0 8% 6%;
}
@media (max-width: 1200px) {
  /* line 1, ../sass/page/_directions.scss */
  .ourDirections {
    padding: 0 2% 6%;
  }
}

/* line 9, ../sass/page/_directions.scss */
.itemDirections {
  width: 50%;
}
/* line 11, ../sass/page/_directions.scss */
.itemDirections img {
  width: 50%;
}
/* line 14, ../sass/page/_directions.scss */
.itemDirections .descriptionDirections {
  width: 45%;
  text-align: center;
}
/* line 18, ../sass/page/_directions.scss */
.itemDirections h3 {
  text-align: center;
}
/* line 21, ../sass/page/_directions.scss */
.itemDirections p {
  font-size: 15px;
  font-family: PTSans;
}
/* line 25, ../sass/page/_directions.scss */
.itemDirections:after, .itemDirections:before {
  clear: both;
  content: " ";
  display: table;
}

/* line 32, ../sass/page/_directions.scss */
.rockDirections {
  float: left;
}
/* line 34, ../sass/page/_directions.scss */
.rockDirections img {
  max-width: 280px;
  float: left;
}
/* line 38, ../sass/page/_directions.scss */
.rockDirections .descriptionDirections {
  float: left;
  padding-top: 11%;
  padding-left: 2%;
}

/* line 46, ../sass/page/_directions.scss */
.traditionalDirections {
  float: right;
  margin-top: 22%;
}
/* line 49, ../sass/page/_directions.scss */
.traditionalDirections img {
  max-width: 230px;
  float: right;
}
/* line 53, ../sass/page/_directions.scss */
.traditionalDirections .descriptionDirections {
  float: right;
  padding-right: 2%;
  padding-top: 9%;
}

/* line 60, ../sass/page/_directions.scss */
.classicDirections {
  float: left;
  margin-top: 7%;
}
/* line 63, ../sass/page/_directions.scss */
.classicDirections img {
  max-width: 310px;
  width: 60%;
  float: left;
}
/* line 68, ../sass/page/_directions.scss */
.classicDirections .descriptionDirections {
  float: left;
  width: 40%;
  padding-top: 7%;
}

@media (max-width: 1000px) {
  /* line 76, ../sass/page/_directions.scss */
  .ourDirections {
    padding: 0 1% 6%;
  }

  /* line 80, ../sass/page/_directions.scss */
  .itemDirections img {
    width: 40%;
  }
  /* line 83, ../sass/page/_directions.scss */
  .itemDirections .descriptionDirections {
    width: 55%;
  }
  /* line 86, ../sass/page/_directions.scss */
  .itemDirections p {
    font-size: 14px;
  }

  /* line 90, ../sass/page/_directions.scss */
  .classicDirections {
    margin-top: 10%;
  }
  /* line 92, ../sass/page/_directions.scss */
  .classicDirections img {
    width: 47%;
  }
  /* line 95, ../sass/page/_directions.scss */
  .classicDirections .descriptionDirections {
    padding-top: 2%;
    width: 53%;
  }

  /* line 100, ../sass/page/_directions.scss */
  .traditionalDirections {
    margin-top: 18%;
  }
}
@media (max-width: 890px) {
  /* line 107, ../sass/page/_directions.scss */
  .rockDirections .descriptionDirections {
    padding-top: 3%;
  }

  /* line 111, ../sass/page/_directions.scss */
  .classicDirections {
    margin-top: 13%;
  }
  /* line 113, ../sass/page/_directions.scss */
  .classicDirections .descriptionDirections {
    padding-top: 0;
  }

  /* line 117, ../sass/page/_directions.scss */
  .traditionalDirections {
    margin-top: 25%;
  }
  /* line 119, ../sass/page/_directions.scss */
  .traditionalDirections .descriptionDirections {
    float: right;
    padding-right: 2%;
    padding-top: 0;
  }
}
@media (max-width: 750px) {
  /* line 128, ../sass/page/_directions.scss */
  .itemDirections {
    width: 100%;
  }
  /* line 131, ../sass/page/_directions.scss */
  .itemDirections p {
    font-size: 15px;
  }

  /* line 136, ../sass/page/_directions.scss */
  .rockDirections {
    float: none;
  }
  /* line 138, ../sass/page/_directions.scss */
  .rockDirections img {
    width: 29%;
  }
  /* line 141, ../sass/page/_directions.scss */
  .rockDirections .descriptionDirections {
    padding-top: 11%;
    width: 70%;
  }

  /* line 147, ../sass/page/_directions.scss */
  .traditionalDirections {
    float: none;
    margin-top: 0;
  }
  /* line 150, ../sass/page/_directions.scss */
  .traditionalDirections img {
    width: 25%;
  }
  /* line 153, ../sass/page/_directions.scss */
  .traditionalDirections .descriptionDirections {
    padding-top: 5%;
    width: 70%;
  }

  /* line 159, ../sass/page/_directions.scss */
  .classicDirections {
    float: none;
    margin-top: 0;
  }
  /* line 162, ../sass/page/_directions.scss */
  .classicDirections img {
    width: 33%;
  }
  /* line 165, ../sass/page/_directions.scss */
  .classicDirections .descriptionDirections {
    width: 67%;
    padding-top: 7%;
  }
}
@media (max-width: 610px) {
  /* line 174, ../sass/page/_directions.scss */
  .itemDirections p {
    font-size: 13px;
  }

  /* line 179, ../sass/page/_directions.scss */
  .rockDirections .descriptionDirections {
    padding-top: 5%;
  }

  /* line 184, ../sass/page/_directions.scss */
  .traditionalDirections .descriptionDirections {
    padding-top: 1%;
  }

  /* line 189, ../sass/page/_directions.scss */
  .classicDirections .descriptionDirections {
    padding-top: 2%;
  }
}
@media (max-width: 450px) {
  /* line 198, ../sass/page/_directions.scss */
  .rockDirections .descriptionDirections {
    padding-top: 3%;
  }

  /* line 203, ../sass/page/_directions.scss */
  .itemDirections h3 {
    margin: 0 0 10px !important;
  }

  /* line 207, ../sass/page/_directions.scss */
  .traditionalDirections, .classicDirections {
    margin-top: 5%;
  }
  /* line 209, ../sass/page/_directions.scss */
  .traditionalDirections .descriptionDirections, .classicDirections .descriptionDirections {
    padding-top: 0;
  }
}
@media (max-width: 400px) {
  /* line 218, ../sass/page/_directions.scss */
  .itemDirections h3 {
    margin: 0 0 5px !important;
  }
  /* line 221, ../sass/page/_directions.scss */
  .itemDirections .descriptionDirections {
    width: 80%;
    text-align: justify;
    padding: 0 5px;
  }
  /* line 225, ../sass/page/_directions.scss */
  .itemDirections .descriptionDirections p span {
    display: none;
  }
  /* line 228, ../sass/page/_directions.scss */
  .itemDirections .descriptionDirections p {
    line-height: 1.3;
  }
  /* line 233, ../sass/page/_directions.scss */
  .itemDirections img {
    width: 20%;
  }

  /* line 237, ../sass/page/_directions.scss */
  .traditionalDirections, .classicDirections {
    margin-top: 1%;
  }

  /* line 241, ../sass/page/_directions.scss */
  .traditionalDirections img {
    width: 15%;
  }
  /* line 244, ../sass/page/_directions.scss */
  .traditionalDirections .descriptionDirections {
    width: 85%;
  }

  /* line 249, ../sass/page/_directions.scss */
  .rockDirections .descriptionDirections {
    padding-top: 2%;
  }
}
@media (max-width: 300px) {
  /* line 257, ../sass/page/_directions.scss */
  .itemDirections img {
    width: 20%;
    margin-top: 5%;
  }

  /* line 263, ../sass/page/_directions.scss */
  .traditionalDirections img {
    width: 15%;
  }
  /* line 266, ../sass/page/_directions.scss */
  .traditionalDirections .descriptionDirections {
    width: 85%;
  }
}
/* line 1, ../sass/page/_reasons.scss */
.reasonsLearn {
  width: 100%;
  background: #e5f5f7;
}
/* line 4, ../sass/page/_reasons.scss */
.reasonsLearn .imgGuitar {
  text-align: center;
}
/* line 7, ../sass/page/_reasons.scss */
.reasonsLearn .imgGuitar img {
  width: 15%;
  max-width: 195px;
  margin: 0 auto 2%;
}
/* line 12, ../sass/page/_reasons.scss */
.reasonsLearn .reasonsBlock {
  position: absolute;
  top: 30%;
}
/* line 15, ../sass/page/_reasons.scss */
.reasonsLearn .reasonsBlock img {
  max-width: 30px;
  width: 100%;
}
/* line 20, ../sass/page/_reasons.scss */
.reasonsLearn .leftBlock {
  text-align: right;
  left: 15%;
}
/* line 24, ../sass/page/_reasons.scss */
.reasonsLearn .rightBlock {
  right: 15%;
}
/* line 27, ../sass/page/_reasons.scss */
.reasonsLearn .itemReasons {
  font-size: 19px;
  font-weight: bold;
  color: #220011;
  padding-top: 5px;
  margin-bottom: 20%;
}
/* line 35, ../sass/page/_reasons.scss */
.reasonsLearn .wrapperReasonsLearn {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  /* line 42, ../sass/page/_reasons.scss */
  .reasonsLearn .leftBlock {
    left: 10%;
  }
  /* line 45, ../sass/page/_reasons.scss */
  .reasonsLearn .rightBlock {
    right: 10%;
  }
}
@media (max-width: 1025px) {
  /* line 53, ../sass/page/_reasons.scss */
  .reasonsLearn .leftBlock {
    left: 5%;
  }
  /* line 56, ../sass/page/_reasons.scss */
  .reasonsLearn .rightBlock {
    right: 5%;
  }
  /* line 59, ../sass/page/_reasons.scss */
  .reasonsLearn .reasonsBlock {
    top: 25%;
  }
}
@media (max-width: 900px) {
  /* line 67, ../sass/page/_reasons.scss */
  .reasonsLearn .itemReasons {
    font-size: 17px;
    margin-bottom: 17%;
  }
  /* line 72, ../sass/page/_reasons.scss */
  .reasonsLearn .reasonsBlock {
    top: 30%;
  }
}
@media (max-width: 800px) {
  /* line 80, ../sass/page/_reasons.scss */
  .reasonsLearn .leftBlock {
    left: 2%;
  }
  /* line 83, ../sass/page/_reasons.scss */
  .reasonsLearn .rightBlock {
    right: 2%;
  }
}
@media (max-width: 750px) {
  /* line 91, ../sass/page/_reasons.scss */
  .reasonsLearn .itemReasons {
    font-size: 16px;
    margin-bottom: 13%;
  }
}
@media (max-width: 695px) {
  /* line 101, ../sass/page/_reasons.scss */
  .reasonsLearn .itemReasons {
    font-size: 14px;
    margin-bottom: 13%;
  }
}
@media (max-width: 610px) {
  /* line 110, ../sass/page/_reasons.scss */
  .reasonsLearn:after, .reasonsLearn:before {
    clear: both;
    content: " ";
    display: table;
  }
  /* line 115, ../sass/page/_reasons.scss */
  .reasonsLearn .imgGuitar {
    float: left;
    width: 30%;
    text-align: center;
  }
  /* line 119, ../sass/page/_reasons.scss */
  .reasonsLearn .imgGuitar img {
    width: 100%;
    min-width: 140px;
    margin: 5% auto;
    padding-left: 40%;
  }
  /* line 126, ../sass/page/_reasons.scss */
  .reasonsLearn .reasonsBlock {
    position: static;
  }
  /* line 128, ../sass/page/_reasons.scss */
  .reasonsLearn .reasonsBlock img {
    max-width: 20px;
  }
  /* line 132, ../sass/page/_reasons.scss */
  .reasonsLearn .twoBlockReasons {
    float: right;
    margin: 1% 5% 2%;
    width: 50%;
  }
  /* line 137, ../sass/page/_reasons.scss */
  .reasonsLearn .leftBlock {
    text-align: left;
  }
  /* line 140, ../sass/page/_reasons.scss */
  .reasonsLearn .itemReasons {
    padding-top: 1px;
    margin-bottom: 3%;
  }
}
@media (max-width: 490px) {
  /* line 149, ../sass/page/_reasons.scss */
  .reasonsLearn .imgGuitar {
    width: 25%;
    text-align: center;
  }
  /* line 158, ../sass/page/_reasons.scss */
  .reasonsLearn .twoBlockReasons {
    float: right;
    margin: 1% auto 2%;
    width: 60%;
  }
  /* line 163, ../sass/page/_reasons.scss */
  .reasonsLearn .leftBlock {
    text-align: left;
  }
  /* line 166, ../sass/page/_reasons.scss */
  .reasonsLearn .itemReasons {
    padding-top: 1px;
    margin-bottom: 3%;
  }
}
@media (max-width: 400px) {
  /* line 177, ../sass/page/_reasons.scss */
  .reasonsLearn .imgGuitar {
    display: none;
  }
  /* line 180, ../sass/page/_reasons.scss */
  .reasonsLearn .twoBlockReasons {
    float: none;
    margin: 0 auto 2%;
    padding-bottom: 2%;
    width: 245px;
  }
  /* line 186, ../sass/page/_reasons.scss */
  .reasonsLearn .itemReasons {
    padding: 0;
    margin: -17px 0 0 27px;
  }
  /* line 191, ../sass/page/_reasons.scss */
  .reasonsLearn .reasonsBlock img {
    padding-top: 10px;
  }
  /* line 194, ../sass/page/_reasons.scss */
  .reasonsLearn .reasonsBlock .itemReasons {
    margin: -17px 0 0 30px;
  }
}
@media (max-width: 280px) {
  /* line 203, ../sass/page/_reasons.scss */
  .reasonsLearn .twoBlockReasons {
    margin: 0 auto 4%;
    padding: 0 2% 2%;
    width: 100%;
  }
}
/* line 3, ../sass/page/_instruments.scss */
.musInstruments img {
  width: 100%;
}
/* line 6, ../sass/page/_instruments.scss */
.musInstruments .view {
  width: 33.33333%;
  float: left;
  padding-left: 0.55556%;
  padding-right: 0.55556%;
  padding: 0;
}
/* line 10, ../sass/page/_instruments.scss */
.musInstruments .view {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
/* line 14, ../sass/page/_instruments.scss */
.musInstruments .view .imgInstruments .imageHover {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 24, ../sass/page/_instruments.scss */
.musInstruments .view:hover .imageUpper {
  display: none;
}
/* line 28, ../sass/page/_instruments.scss */
.musInstruments .view:hover .imageHover {
  position: relative;
}
/* line 31, ../sass/page/_instruments.scss */
.musInstruments .view:hover .imgInstruments .imageHover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 39, ../sass/page/_instruments.scss */
.musInstruments .view:hover .info {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
/* line 47, ../sass/page/_instruments.scss */
.musInstruments .info {
  position: absolute;
  width: 40%;
  height: 20%;
  display: table;
  top: 40%;
  bottom: 0;
  left: 30%;
  right: 0;
  text-align: center;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
  background: #111111;
  background: rgba(18, 18, 18, 0.62);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-250px);
  -moz-transform: translateY(-250px);
  -ms-transform: translateY(-250px);
  -o-transform: translateY(-250px);
  transform: translateY(-250px);
}
/* line 72, ../sass/page/_instruments.scss */
.musInstruments .info h3 {
  cursor: default;
  text-align: center;
  padding: 20px;
  vertical-align: middle;
  display: table-cell;
  -webkit-transition: all 0.35s 0.1s ease-in-out;
  -moz-transition: all 0.35s 0.1s ease-in-out;
  transition: all 0.35s 0.1s ease-in-out;
}

@media (max-width: 970px) {
  /* line 87, ../sass/page/_instruments.scss */
  .musInstruments .info {
    width: 50%;
    height: 25%;
    top: 37%;
    left: 25%;
  }
  /* line 92, ../sass/page/_instruments.scss */
  .musInstruments .info h3 {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  /* line 99, ../sass/page/_instruments.scss */
  .musInstruments .view {
    width: 50%;
    float: left;
    padding-left: 0.55556%;
    padding-right: 0.55556%;
    padding: 0;
  }
}
@media (max-width: 500px) {
  /* line 107, ../sass/page/_instruments.scss */
  .musInstruments .view .info {
    top: 35%;
    left: 20%;
  }
  /* line 110, ../sass/page/_instruments.scss */
  .musInstruments .view .info h3 {
    font-size: 17px;
  }
  /* line 114, ../sass/page/_instruments.scss */
  .musInstruments .view .info {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  /* line 121, ../sass/page/_instruments.scss */
  .musInstruments .view .imageUpper {
    display: none;
  }
  /* line 125, ../sass/page/_instruments.scss */
  .musInstruments .view .imageHover {
    position: relative;
  }
  /* line 128, ../sass/page/_instruments.scss */
  .musInstruments .view:hover .imgInstruments .imageHover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 420px) {
  /* line 139, ../sass/page/_instruments.scss */
  .musInstruments .view .info {
    width: 100%;
    top: 35%;
    left: 0;
  }
  /* line 143, ../sass/page/_instruments.scss */
  .musInstruments .view .info h3 {
    padding: 10px;
    font-size: 16px;
  }
}
@media (max-width: 310px) {
  /* line 153, ../sass/page/_instruments.scss */
  .musInstruments .view .info h3 {
    font-size: 14px;
  }
}
/* line 1, ../sass/page/_costs.scss */
.priceTrigger {
  padding-bottom: 60px;
}
/* line 4, ../sass/page/_costs.scss */
.priceTrigger .itemPrice {
  width: 33.33333%;
  float: left;
  padding-left: 0.55556%;
  padding-right: 0.55556%;
}
/* line 7, ../sass/page/_costs.scss */
.priceTrigger .wrapperPriceBlock {
  border: 2px solid #27415a;
  width: 88%;
  max-width: 300px;
  margin: 2% auto 15%;
  height: 350px;
}
/* line 14, ../sass/page/_costs.scss */
.priceTrigger h3 {
  width: 100%;
  color: white;
  background: #27415a;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
}
/* line 22, ../sass/page/_costs.scss */
.priceTrigger h4 {
  color: #27415a;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-top: 15%;
}
/* line 29, ../sass/page/_costs.scss */
.priceTrigger p {
  font-size: 19px;
  text-align: center;
  padding: 0 20px;
}
/* line 34, ../sass/page/_costs.scss */
.priceTrigger .additionalPrice p {
  color: #27415a;
}

@media (max-width: 1100px) {
  /* line 42, ../sass/page/_costs.scss */
  .priceTrigger .wrapperPriceBlock {
    width: 84%;
    margin: 2% auto 10%;
    height: 330px;
  }
}
@media (max-width: 1000px) {
  /* line 51, ../sass/page/_costs.scss */
  .priceTrigger {
    padding-bottom: 50px;
  }
  /* line 53, ../sass/page/_costs.scss */
  .priceTrigger .wrapperPriceBlock {
    margin: 2% auto 10%;
    height: 310px;
  }
  /* line 57, ../sass/page/_costs.scss */
  .priceTrigger p {
    font-size: 17px;
    text-align: center;
    padding: 0 15px;
  }
  /* line 62, ../sass/page/_costs.scss */
  .priceTrigger h4 {
    font-size: 22px;
    margin: 10% 0;
  }
  /* line 66, ../sass/page/_costs.scss */
  .priceTrigger .additionalPrice p {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  /* line 75, ../sass/page/_costs.scss */
  .priceTrigger .wrapperPriceBlock {
    width: 98%;
    height: 290px;
  }
  /* line 79, ../sass/page/_costs.scss */
  .priceTrigger h3 {
    font-size: 17px;
    padding: 20px 0;
  }
  /* line 83, ../sass/page/_costs.scss */
  .priceTrigger h4 {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  /* line 91, ../sass/page/_costs.scss */
  .priceTrigger .itemPrice {
    width: 100%;
    float: left;
    padding-left: 0.55556%;
    padding-right: 0.55556%;
  }
  /* line 94, ../sass/page/_costs.scss */
  .priceTrigger .wrapperPriceBlock {
    border: 1px solid #27415a;
    width: 98%;
    max-width: 540px;
    margin: 0 auto 2%;
    height: 100%;
  }
  /* line 101, ../sass/page/_costs.scss */
  .priceTrigger h3 {
    padding: 7px 0;
  }
  /* line 104, ../sass/page/_costs.scss */
  .priceTrigger h4 {
    margin: 1% 0;
    font-size: 18px;
  }
  /* line 108, ../sass/page/_costs.scss */
  .priceTrigger p {
    font-size: 16px;
    padding: 0 5px;
  }
  /* line 112, ../sass/page/_costs.scss */
  .priceTrigger .additionalPrice p {
    font-size: 15px;
    text-align: justify;
    padding: 0 2%;
  }
}
@media (max-width: 400px) {
  /* line 121, ../sass/page/_costs.scss */
  .priceTrigger {
    padding-bottom: 40px;
  }
  /* line 123, ../sass/page/_costs.scss */
  .priceTrigger h3 {
    padding: 5px 0;
    font-size: 15px;
  }
  /* line 127, ../sass/page/_costs.scss */
  .priceTrigger h4 {
    font-size: 16px;
  }
  /* line 130, ../sass/page/_costs.scss */
  .priceTrigger p {
    font-size: 15px;
    padding: 0 5px;
  }
  /* line 134, ../sass/page/_costs.scss */
  .priceTrigger .additionalPrice p {
    font-size: 14px;
    padding: 0 2%;
  }
}
/* line 2, ../sass/page/_contacts.scss */
.contactsTrigger img {
  width: 100%;
  max-width: 1370px;
}
/* line 6, ../sass/page/_contacts.scss */
.contactsTrigger .contacts {
  position: absolute;
  top: 23%;
  bottom: 0;
  right: 0;
  width: 46%;
  z-index: 10;
}
/* line 14, ../sass/page/_contacts.scss */
.contactsTrigger h2 {
  color: white;
}
/* line 17, ../sass/page/_contacts.scss */
.contactsTrigger .contactsText {
  padding: 5% 4% 0 15%;
}
/* line 20, ../sass/page/_contacts.scss */
.contactsTrigger .iconItem {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* line 23, ../sass/page/_contacts.scss */
.contactsTrigger .iconItem span {
  color: white;
}
/* line 26, ../sass/page/_contacts.scss */
.contactsTrigger .iconItem .fa-map-marker {
  padding-left: 3px;
  font-size: 22px;
}
/* line 30, ../sass/page/_contacts.scss */
.contactsTrigger .iconItem .fa-clock-o {
  font-size: 21px;
}
/* line 33, ../sass/page/_contacts.scss */
.contactsTrigger .iconItem .fa-phone {
  font-size: 22px;
}
/* line 36, ../sass/page/_contacts.scss */
.contactsTrigger .iconItem .fa-envelope {
  font-size: 17px;
}
/* line 40, ../sass/page/_contacts.scss */
.contactsTrigger p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: -30px 0 0 30px;
}
/* line 46, ../sass/page/_contacts.scss */
.contactsTrigger p.mySocNetwork {
  margin: 0 0 10px;
}
/* line 50, ../sass/page/_contacts.scss */
.contactsTrigger .contactsSocNetwork span {
  font-size: 20px;
  padding-right: 15px;
}
/* line 54, ../sass/page/_contacts.scss */
.contactsTrigger .contactsSocNetwork span:hover {
  color: #121212;
}

@media (max-width: 1100px) {
  /* line 62, ../sass/page/_contacts.scss */
  .contactsTrigger .contacts {
    top: 20%;
  }
}
@media (max-width: 930px) {
  /* line 70, ../sass/page/_contacts.scss */
  .contactsTrigger .contacts {
    top: 15%;
    width: 46%;
  }
}
@media (max-width: 800px) {
  /* line 79, ../sass/page/_contacts.scss */
  .contactsTrigger .contacts {
    top: 10%;
  }
  /* line 82, ../sass/page/_contacts.scss */
  .contactsTrigger p {
    font-size: 16px;
    margin: -26px 0 0 30px;
  }
  /* line 87, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem .fa-map-marker {
    padding-left: 3px;
    font-size: 20px;
  }
  /* line 91, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem .fa-clock-o {
    font-size: 19px;
  }
  /* line 94, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem .fa-phone {
    font-size: 20px;
  }
  /* line 97, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem .fa-envelope {
    font-size: 15px;
  }
  /* line 101, ../sass/page/_contacts.scss */
  .contactsTrigger .contactsText {
    padding: 1% 3% 0 15%;
  }
}
@media (max-width: 700px) {
  /* line 109, ../sass/page/_contacts.scss */
  .contactsTrigger p {
    font-size: 15px;
  }
  /* line 112, ../sass/page/_contacts.scss */
  .contactsTrigger p.mySocNetwork {
    margin: -10px 0 10px;
  }
  /* line 115, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem {
    margin-top: 5px;
  }
}
@media (max-width: 570px) {
  /* line 122, ../sass/page/_contacts.scss */
  .contactsTrigger {
    background: #e5f5f7;
  }
  /* line 124, ../sass/page/_contacts.scss */
  .contactsTrigger img {
    display: none;
  }
  /* line 127, ../sass/page/_contacts.scss */
  .contactsTrigger h2 {
    color: #121212;
  }
  /* line 130, ../sass/page/_contacts.scss */
  .contactsTrigger p {
    color: #121212;
    font-size: 14px;
    margin: -26px 0 0 25px;
  }
  /* line 135, ../sass/page/_contacts.scss */
  .contactsTrigger p.mySocNetwork {
    margin: -22px 0 5px;
  }
  /* line 139, ../sass/page/_contacts.scss */
  .contactsTrigger .contactsSocNetwork span {
    padding-right: 18px;
  }
  /* line 144, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem span {
    color: #121212;
  }
  /* line 147, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem .fa-map-marker {
    padding-left: 2px;
    font-size: 18px;
  }
  /* line 151, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem .fa-clock-o {
    font-size: 17px;
  }
  /* line 154, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem .fa-phone {
    font-size: 18px;
  }
  /* line 157, ../sass/page/_contacts.scss */
  .contactsTrigger .iconItem .fa-envelope {
    font-size: 13px;
  }
  /* line 162, ../sass/page/_contacts.scss */
  .contactsTrigger .contacts {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    width: 96%;
    margin: 2% auto 5%;
  }
  /* line 170, ../sass/page/_contacts.scss */
  .contactsTrigger .contactsText {
    padding: 0;
  }
}
