@import "breakpoint";
@import "susy";

$susy: (
        columns: 18,
        container: 1920px,
        global-box-sizing: border-box,
        gutter-position: inside,
        debug: (
                image: hide,
                color: rgba(#66f, .5),
                output: background,
                toggle: top right,
        )
);

.imageHover {
  position: absolute;
}

.imageUpper {
  position: relative;
}

a {
  outline: none !important;
}

.imageUpper:hover {
  opacity: 0;
}

.zIndex {
  z-index: 999 !important;
}

.wrapper {
  @include container;
  min-height: 500px;
  position: relative;
  font-family: $font-sans;
  color: black;
}

.trigger {
  position: relative;
  background: white;
  &:after, &:before {
    clear: both;
    content: " ";
    display: table;
  }
}

.menu {
  float: right;
  width: 230px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  @media (max-width: 420px) {
    & {
      width: 220px;
    }
  }
}

@media screen and (min-width: 1371px) {
  .menuToggle {
    position: absolute !important;
  }
  .menu {
    position: absolute !important;
  }

}

.menuToggle {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.25) url("../image/three.png") no-repeat 50% 50%;
  background-size: 25px;
  cursor: pointer;
  z-index: 999;
  &:hover {
    background: rgba(0, 0, 0, 0.15) url("../image/three.png") no-repeat 50% 50%;
    background-size: 25px;
  }
  @media (max-width: 1370px) {
    & {
      width: 40px;
      height: 40px;
      background-size: 20px;
    }
    &:hover {
      background-size: 20px;
    }
  }

  @media (max-width: 900px) {
    & {
      top: 10px;
      right: 10px;
    }
  }

}

.menuClose {
  display: none;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.25) url("../image/delete.png") no-repeat 50% 50%;
  background-size: 20px;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.15) url("../image/delete.png") no-repeat 50% 50%;
    background-size: 20px;
  }
  @media (max-width: 1370px) {
    & {
      width: 40px;
      height: 40px;
      background-size: 17px;
    }
    &:hover {
      background-size: 17px;
    }
  }

}

.menuOpen {
  display: none;
  position: absolute;
  background: #1a1a1a;
  height: 100%;
  width: 180px;
  top: 0;
  left: 60px;
  ul {
    padding-top: 10px;
    padding-left: 25px;
    text-align: left;
  }
  li {
    list-style: none;
    font-family: $font-sans;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    a {
      text-decoration: none;
      color: #b1b1b1;
      cursor: pointer;
      &:hover {
        color: #ffffff;
      }
    }
    .iconSocialNetwork {
      padding-right: 8px;
    }
    .iconSocialNetwork.fa {
      font-size: 18px;
    }
  }
  li:last-child {
    padding-top: 20px;
  }
  @media (max-width: 1370px) {
    li {
      font-size: 16px;
    }
  }
  @media (max-width: 420px) {
    & {
      width: 170px;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .menu {
    right: 10px;
  }
}

.main_block {
  position: relative;
  background: #000000;

  h1 {
    color: white;
    text-align: center;
    font-family: $font-patience;
    font-size: 150px;
    line-height: 1.0;
    margin: 0;
  }

  .bg_main_block {
    position: relative;
    background: url("../image/man-person.png") no-repeat center center;
    opacity: 0.5;
    width: 100%;
    height: 1100px;
  }

  .wrapper_text_button {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    -moz-transform: translate(-40%, -40%);
    -webkit-transform: translate(-40%, -40%);
    -o-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
  }

  @media (max-width: 1640px) {
    .bg_main_block {
      height: 900px;
    }
    .wrapper_text_button {
      -moz-transform: translate(-30%, -40%);
      -webkit-transform: translate(-30%, -40%);
      -o-transform: translate(-30%, -40%);
      -ms-transform: translate(-30%, -40%);
      transform: translate(-30%, -40%);
    }
  }

  @media (max-width: 1370px) {
    .bg_main_block {
      height: 680px;
      background: url("../image/man-person-laptop.png") no-repeat center center;
    }
    h1 {
      font-size: 130px;
    }
  }

  @media (max-width: 1270px) {
    .wrapper_text_button {
      -moz-transform: translate(-20%, -40%);
      -webkit-transform: translate(-20%, -40%);
      -o-transform: translate(-20%, -40%);
      -ms-transform: translate(-20%, -40%);
      transform: translate(-20%, -40%);
    }
  }

  @media (max-width: 1040px) {
    .bg_main_block {
      height: 600px;
      background: url("../image/man-person-laptop.png") no-repeat left center;
    }
    .wrapper_text_button {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -moz-transform: translate(-50%, -47%);
      -webkit-transform: translate(-50%, -47%);
      -o-transform: translate(-50%, -47%);
      -ms-transform: translate(-50%, -47%);
      transform: translate(-50%, -47%);
    }
    h1 {
      line-height: 0.9;
    }
  }

  @media (max-width: 620px) {
    h1 {
      font-size: 100px;
    }
    .bg_main_block {
      background: url(../image/man-person-laptop.png) no-repeat 15% center;
    }
  }

  @media (max-width: 570px) {
    .bg_main_block {
      background: url(../image/man-person-3.png) no-repeat center center;
    }
  }

  @media (max-width: 420px) {
    .bg_main_block {
      height: 480px;
      background: url(../image/man-person-wall-mobile.png) no-repeat center center;
    }
    h1 {
      font-size: 80px;
    }
  }

  @media (max-width: 340px) {
    h1 {
      font-size: 60px;
    }
  }
  @media (max-width: 250px) {
    h1 {
      font-size: 55px;
    }
  }
}

.buttonEnroll {

  .textButtonEnroll {
    margin-right: -5%;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    //display:inline;
  }
  .helper {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
    zoom: 1;
    //display:inline;
  }
  height: 63px;
  width: 100%;
  max-width: 300px;
  margin: 150px auto 0;
  z-index: 11;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  @include border-radius(7px);
  @include box-shadow(rgba(0, 0, 0, 0.6) 6px 8px 15px 6px);
  border: 1px solid #616264;
  background: #55a0e6;
  background: -webkit-linear-gradient(top, #4398d1, #305e7d);
  background: -moz-linear-gradient(top, #4398d1, #305e7d);
  background: -ms-linear-gradient(top, #4398d1, #305e7d);
  background: -o-linear-gradient(top, #4398d1, #305e7d);
  background-image: -ms-linear-gradient(top, #4398d1 0%, #305e7d 100%);
  cursor: pointer;
  &:hover {
    background: #45ade8;
    background: -webkit-linear-gradient(top, #44b0ea, #326483);
    background: -moz-linear-gradient(top, #44b0ea, #326483);
    background: -ms-linear-gradient(top, #44b0ea, #326483);
    background: -o-linear-gradient(top, #44b0ea, #326483);
    background-image: -ms-linear-gradient(top, #44b0ea 0%, #326483 100%);
  }

  @media (max-width: 1370px) {
    & {
      height: 54px;
      max-width: 250px;
      font-size: 22px;
      margin: 110px auto 0;
    }
  }

  @media (max-width: 1040px) {
    margin: 90px auto 0;
  }

  @media (max-width: 620px) {
    & {
      height: 50px;
      max-width: 230px;
      font-size: 20px;
      @include border-radius(5px);
    }

    @media (max-width: 420px) {
      & {
        height: 45px;
        max-width: 210px;
        font-size: 18px;
        @include border-radius(3px);
      }
    }
  }
}

