.contactsTrigger {
  background: black;
  position: relative;

  .wrapperContactsContent {
    position: relative;
    background: url("../image/contacts-big.png") no-repeat center bottom;
    opacity: 0.5;
    width: 100%;
    height: 1000px;
  }

  .contacts {
    position: absolute;
    top: 27%;
    bottom: 0;
    right: 6%;
    width: 560px;
    z-index: 10;
  }
  h2 {
    color: white;
    margin: 0 40px 80px 0;
  }
  .contactsText {
    padding: 5% 4% 0 15%;
  }
  .iconItem {
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 17px;
    span {
      color: white;
      vertical-align: bottom;
    }
    .fa-map-marker {
      padding-left: 3px;
      font-size: 27px;
    }
    .fa-clock-o {
      font-size: 26px;
    }
    .fa-phone {
      font-size: 27px;
      margin-bottom: -2px;
    }
    .fa-envelope {
      font-size: 22px;
    }
  }
  p {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: -30px 0 0 35px;
  }
  p.mySocNetwork {
    margin: 0 0 10px;
  }
  .contactsSocNetwork {
    span {
      font-size: 24px;
      padding-right: 20px;
    }
    span:hover {
      color: #121212;
    }
  }

  @media (max-width: 1640px) {
    .wrapperContactsContent {
      height: 900px;
    }
    .contacts {
      top: 24%;
    }
  }

  @media (max-width: 1370px) {
    .wrapperContactsContent {
      background: url("../image/contacts.png") no-repeat center center;
      height: 700px;
    }
    .contacts {
      width: 470px;
    }
    p {
      font-size: 18px;
      margin: -30px 0 0 35px;
    }
    .iconItem {
      line-height: 22px;
      span {
        vertical-align: baseline;
      }
      .fa-map-marker {
        font-size: 22px;
      }
      .fa-clock-o {
        font-size: 21px;
      }
      .fa-phone {
        font-size: 22px;
        //margin-bottom: -2px;
      }
      .fa-envelope {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .contactsTrigger {
    .contacts {
      top: 20%;
      right: 2%;
    }
  }
}

@media (max-width: 930px) {
  .contactsTrigger {
    .wrapperContactsContent {
      background: url("../image/contacts.png") no-repeat center top;
      height: 600px;
    }
    .contacts {
      top: 15%;
    }
  }
}

@media (max-width: 850px) {
  .contactsTrigger {
    .wrapperContactsContent {
      background: url("../image/contacts-3.png") no-repeat center top;
      height: 500px;
    }
    h2 {
      margin: 0 40px 60px 0;
    }
    .contacts {
      top: 10%;
      width: 410px;
    }
    p {
      font-size: 16px;
      margin: -26px 0 0 30px;
    }
    .iconItem {
      .fa-map-marker {
        padding-left: 3px;
        font-size: 20px;
      }
      .fa-clock-o {
        font-size: 19px;
      }
      .fa-phone {
        font-size: 20px;
      }
      .fa-envelope {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 700px) {
  .contactsTrigger {
    p {
      font-size: 15px;
    }
    p.mySocNetwork {
      margin: -10px 0 10px;
    }
    .iconItem {
      margin-top: 5px;
    }
  }
}

@media (max-width: 570px) {
  .contactsTrigger {
    background: #e5f5f7;
    img {
      display: none;
    }
    h2 {
      color: #121212;
    }
    p {
      color: #121212;
      font-size: 14px;
      margin: -26px 0 0 25px;
    }
    p.mySocNetwork {
      margin: -22px 0 5px;
    }
    .contactsSocNetwork {
      span {
        padding-right: 18px;
      }
    }
    .iconItem {
      span {
        color: #121212;
      }
      .fa-map-marker {
        padding-left: 2px;
        font-size: 18px;
      }
      .fa-clock-o {
        font-size: 17px;
      }
      .fa-phone {
        font-size: 18px;
      }
      .fa-envelope {
        font-size: 13px;
      }

    }
    .contacts {
      position: relative;
      top: 0;
      bottom: 0;
      right: 0;
      width: 96%;
      margin: 2% auto 5%;
    }
    .contactsText {
      padding: 0;
    }
  }
}

